.container {
  position: relative;
  top: 50px;
  width: 100%;
  height: 907px;
  display: flex;
}

.image {
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url("../../../../../public/bedroom-banner.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #404040;
  padding: 20px;
  opacity: 96%;
}

.contentText {
  position: relative;
  left: 30%;
}

.topText {
  width: 50%;
  height: 36px;
  position: relative;
}

.topText::before {
  content: "";
  width: 1px;
  height: 96px;
  background-color: rgb(255, 255, 255);
  top: -90px;
  position: absolute;
  transform: translateY(-50%);
  left: 30px;
}
.heading {
  /* margin-top: 16px; */
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  width: 50%;
  height: 140px;
  line-height: 130%;
}

.bottomText {
  margin-top: 3%;
  margin-bottom: 6%;
  width: 65%;
  height: 100px;
  line-height: 200%;
}

.line::above {
  content: "";
  width: 3px;
  height: 500px;
  display: block;
  background-color: #ffffff;
  top: 50px;
  position: absolute;
}

@media screen and (max-width: 1158px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 1019px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: #404040;
    padding: 0px;
    opacity: 96%;
    text-align: center;
  }

  .contentText {
    position: relative;
    /* left: 7%; */
    text-align: center;
    margin-top: 10%;
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
    left: 0;
  }

  .topText {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 0%;
    font-size: 1.2rem;
    top: 40px;
  }

  .topText::before {
    content: "";
    width: 1px;
    height: 96px;
    background-color: rgb(255, 255, 255);
    top: -170%;
    position: absolute;
    transform: translateY(-50%);
    left: 49%;
  }
  .heading {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    font-size: 3.3rem;
  }

  .bottomText {
    margin: auto;
    width: 80%;
    position: relative;
    top: -60px;
  }

  .btnContainer {
    position: relative;
    top: -50px;
  }

  .line::above {
    display: none;
  }

  .image {
    position: relative;
    left: 0%;
    width: 100%;
    height: 450px;
    background-image: url("../../../../../public/bedroom-banner.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 760px) {
  .topText::before {
    display: none;
  }

  .contentText {
    position: relative;
    /* left: 7%; */
    text-align: center;
    margin-top: 2%;
    margin-bottom: 8%;
    left: 0;
  }

  .heading {
    margin-bottom: 80px;
  }

  .bottomText {
    margin-bottom: 20px;
  }
}
