.container {
  position: relative;
  width: 100%;
  height: 779px;
  overflow: hidden;
}

.backgroundBlock {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  background-color: #eaeaea;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.image {
  position: relative;
  top: 80px;
  left: 300px;
  width: 423px;
  height: 600px;
  /* background-image: url("../../../../../public/about-image.jpg"); */
  /* background-position: center; */
  /* background-size: cover; */
}

.textContent {
  height: 100%;
  width: 80%;
  position: relative;
  left: 400px;
  top: 250px;
}

.image::before {
  content: "";
  width: 197px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translateY(-50%);
  left: 78%;
  bottom: 550px;
  border: 1px solid #404040;
  transform: rotate(90deg);
}

.image::after {
  content: "";
  width: 197px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  top: -15px;
  position: absolute;
  transform: translateY(-50%);
  left: 90%;
  border: 1px solid #404040;
}

.headerBox {
  width: 120px;
  padding: 8px;
  background-color: #2f2f2f;
  color: rgb(255, 255, 255);
  text-align: center;
}

.heading {
  font-size: 1.8rem;
  line-height: 130%;
  width: 45%;
}

.about {
  margin-top: 40px;
  font-size: 1rem;
  line-height: 200%;
  width: 45%;
}

@media screen and (max-width: 1350px) {
  .image {
    left: 200px;
  }

  .textContent {
    left: 300px;
  }
}

@media screen and (max-width: 1019px) {
  .container {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
  }
  .content {
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 70px;
  }

  .image::before {
    display: none;
  }

  .image::after {
    display: none;
  }

  .textContent {
    height: 100%;
    width: 80%;
    position: relative;
    left: 0px;
    top: 20px;
    text-align: center;
  }

  .headerBox {
    margin: auto;
  }

  .heading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 90%;
  }
  .about {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    position: absolute;
    left: auto;
    width: 60%;
    height: 70%;
    top: 380px;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 645px) {
  .heading {
    width: 100%;
  }

  .about {
    width: 100%;
  }
  .image {
    width: 80%;
    height: 70%;
    top: 450px;
  }
}

@media screen and (max-width: 468px) {
  .heading {
    width: 100%;
  }

  .about {
    width: 100%;
  }
  .image {
    width: 80%;
    height: 60%;
    top: 550px;
  }
}
